* {
  background-color: lightblue
}

.App {
  margin-top: 1rem;
  margin-left: 10rem;
}

button {
  background-color: rgb(221, 240, 247);
  padding: .5rem;
  margin: .5rem;
  border-radius: .35rem;
  border: 1px solid rgb(12, 87, 112)
}

button:hover {
  background-color: rgb(12, 87, 112);
  color: rgb(221, 240, 247);
}

.big-button {
  font-size: 3rem;
}

.water {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  z-index: 2;
}

.superstar {
  font-size: large;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


.wave-container {
  z-index: 2;
  position: relative
}

.wave {
  position: relative;
  width: 10rem;
  z-index: 2;
}

.play-container {
  transform: translateY(13rem);
  position: relative;
}

.score {
  border: 0;
}


#kite {
  position: relative;
  width: fit-content;
  z-index: 5;
  background-color: transparent;

}

.dude {
  width: 7rem;
  transform: translateY(3rem);
  z-index: 15;
  position: relative;
  background-color: transparent;
}

.splash {
  width: 10rem;
  transform: translateX(-4rem);
}

@keyframes flip {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(365deg)
  }
}

.colorBar {
  width: fit-content;
  border-radius: .25rem;
}

.blue {
  color: RGB(40, 80, 244)
}

.red {
  color: RGB(253, 0, 11)
}


.orange {
  color: RGB(181, 64, 0)
}

.purple {
  color: RGB(140, 50, 241)
}

.pink {
  color: RGB(233, 0, 172)
}

.green {
  color: RGB(0, 134, 35)
}

.teal {
  color: RGB(0, 125, 131)
}


.vector-link {
  margin-top: 2rem;
  font-size: small;
}


.directions {
  border: 1px solid rgb(12, 87, 112);
  padding: 1rem;
  width: fit-content;
  display: flex;
}