.App {
  margin-top: 10rem;
  margin-left: 10rem;
}

.water {
  display: flex;
  flex-direction: row;
  animation: move 15s linear
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.dot {
  width: 10px;
  height: 10px;
  margin: 20px;
  border-radius: 50%;
  background-color: blue;
}

/* .high-water {
  color: blue;
  transform: translateY(-1rem);
} */