* {
  background-color: lightblue
}

h3 {
  background-color: transparent;
}

.App {
  margin-top: 1rem;
  margin-left: 10rem;
}

button {
  background-color: rgb(221, 240, 247);
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .35rem;
  border: 1px solid rgb(12, 87, 112)
}

button:hover {
  background-color: rgb(12, 87, 112);
  color: rgb(221, 240, 247);
  transform: translate(.3rem, -.3rem);
  box-shadow: -7px 5px 5px grey;
}

.selected {
  background-color: rgb(12, 87, 112);
  color: rgb(221, 240, 247);
}

.big-button {
  font-size: 3rem;
  margin-top: 4rem;
}

.water {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  z-index: 2;
}

.superstar {
  font-size: large;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


.wave-container {
  z-index: 2;
  position: relative
}

.wave {
  position: relative;
  width: 8rem;
  z-index: 2;
  margin-right: 1rem;
}

.play-container {
  transform: translateY(13rem);
  position: relative;
}

.score {
  border: 0;
}


#kite {
  position: relative;
  width: fit-content;
  z-index: 5;
  background-color: transparent;

}

.dude {
  width: 5rem;
  transform: translateY(3rem);
  z-index: 15;
  position: relative;
  background-color: transparent;
}

.splash {
  width: 10rem;
  transform: translateX(-4rem);
  background-color: transparent;
  filter: hue-rotate(-10deg)
}

@keyframes flip {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(365deg)
  }
}



.blue {
  color: RGB(40, 80, 244)
}

.blue:hover {
  background-color: RGB(40, 80, 244)
}

.red {
  color: RGB(253, 0, 11)
}

.red:hover {
  background-color: RGB(253, 0, 11)
}


.orange {
  color: RGB(215, 42, 0)
}

.orange:hover {
  background-color: RGB(215, 42, 0)
}

.purple {
  color: RGB(140, 50, 241)
}

.purple:hover {
  background-color: RGB(140, 50, 241)
}

.pink {
  color: RGB(233, 0, 172)
}

.pink:hover {
  background-color: RGB(233, 0, 172)
}

.green {
  color: RGB(0, 134, 35)
}

.green:hover {
  background-color: RGB(0, 134, 35)
}

.teal {
  color: RGB(0, 125, 131)
}

.teal:hover {
  background-color: RGB(0, 125, 131)
}


.vector-link {
  margin-top: 2rem;
  font-size: small;
}

.directions-container {
  /* border-radius: .25;
  border: 1px solid rgb(12, 87, 112); */
}


.directions {
  background-color: lightblue;
  color: rgb(12, 87, 112);

  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: .25rem;
  border: 1px solid rgb(12, 87, 112);
}

.colorBar {
  width: 6rem;
  
}

.colorDisplay {
  width: fit-content;

  
}

.colorOptions {
  display: flex;
  flex-direction: column;
  border-radius: .25rem;
  border: 1px solid rgb(12, 87, 112);
}

.colorOptions > button {
  margin: .5rem;
}

.game-over {
  position: absolute;
  top: 1;
  left: 30%;
  border: 10px solid red;
  text-transform: uppercase;
  font-size: xx-large;
  width: fit-content;
  padding: 1rem 10rem 1rem 10rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  position: absolute;
  z-index: 3;
  height: 3rem;
  
}

.winner {
  position: absolute;
  top: 1;
  left: 30%;
  border: 10px solid rgb(12, 87, 112);
  text-transform: uppercase;
  font-size: xx-large;
  width: fit-content;
  padding: 1rem 10rem 1rem 10rem;
}